.panel {
    font-size: 1rem;
    border: 1px solid #678;
    border-radius: 0.3em;
    overflow: hidden;
    margin-bottom: 50px;
}

.panel--small {
    font-size: 0.8rem;
}

.panel--large {
    font-size: 1.2rem;
}

.panel-heading {
    padding: 0.6em 1.2em;
    background-color: #cde;
    border-bottom: 1px solid #678;
}

.panel-heading > h3 {
    font-size: 1.25em;
    margin: 0;
    letter-spacing: 0.03em;
}

.panel-body {
    padding: 0.6em 1.2em;
}
